.sign-in{
    color:black;
    font-size: 30px;
    font-style: bold;
    text-align: center;
    
}

.my-stytle{
    text-align: center;
    border: 1px solid black;
    padding:20px
}

.input-styles {
margin: 10px;
}

.signin-btn {
background-color: green;
margin: 10px;
width:60%
}

.signup-btn{
    background-color: red;
    margin: 10px;
    width:60%
}