.sidebar{
    background: #313342!important;
}
.menu-items a{
    color: black!important;
    font-weight: 100!important;
}
.menu-items a.active{
    // background: #292732!important;
    color: red!important;
}

.menu-items a i {
    color: #000!important;
}

.menu-items a.active i {
    color: #000!important;
}

.menu-items a:hover{
    background: rgba(128, 128, 128, 0.1)!important;
}

ul{
    list-style-type: none;
    color: black;
}

ul li{
    line-height: 30px;
}

.act{
    background-color: blue;
}

.main-nav-active li{
    background-color:lightgreen !important;
}

.sidemenu-li.active{
    background: #92e5dd;
    border: 1px solid #969696;
    width: 200px;
    border-radius: 8px;
    padding: 7px 6px;
    text-align: center;
    margin-bottom: 11px;
    font-size: 11px;
}
.sidemenu-li{
    
    border: 1px solid #969696;
    width: 150px;
    background-color: lightgray;
    border-radius: 8px;
    padding: 2px 6px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 11px;
    cursor: pointer !important;
    list-style-type: none;
}
.sidemenu-li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 13.0px;
    color: black!important;
    text-align: center;
    line-height: 8.0px;
}
a{
    color:black!important
}

